/* Starschema logo */
.schema-logo {
    max-height: 40px;
    float: right;
}

h4 {
    margin-top:10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(23, 23, 23, 0.1);
}

/* Dropdown Button */
.dropdownBtn {
    cursor: pointer;
	width: 100%;
	height: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	width: 100%;
    position: relative;
    display: inline-block;
}

.dropdownBtn i {
	float: right;
	pointer-events: none;
}

.dropdownBtn span {
  pointer-events: none;
}

/* Dropdown Content (Hidden by Default) */
.xdropdown-content {
    display: none;
	width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: visible !important;
}

.ydropdown-content {
    display: none;
	width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sheetselector-content {
    display: none;
	width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.xdropdown-content a, .ydropdown-content a, .sheetselector-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.xdropdown-content a:hover, .ydropdown-content a:hover, .sheetselector-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 
      
.save-btn {
    max-width: 190px;
    float: right;
    margin-right: 20px;
}

.center {
    text-align: center;
}

.footer {
    margin-top: 10px;
}

a.disabled {
    pointer-events: none;
}

.secondary-link {
    color: #5CA6B5;
    display: block;
}

.center {
    text-align: center;
}

i.fa {
    width: 20px;
    text-align: center;
}