/* embeded viz container style */
#vizContainer {
  margin-top: 50px;
}

/* D3 brush filter style */
.area {
    clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.hidden {
    opacity: 0.0;
}

/* selector area style */
.selection {
    /* fill: #f32222; */
    /* fill-opacity: 0.2; */
}

/* chart axis style */
.axis .tick text {
    font-family: 'Varela Round';
    fill: #333;
    stroke: none;
}

/* settings style */
#settingsDiv {
	display: none;
}

#xAxisSelector, #yAxisSelector {
	border-radius: 4px;
	padding: 3px 6px;
}